modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 33207
externalPort = 3001

[[ports]]
localPort = 33753
externalPort = 3003

[[ports]]
localPort = 37339
externalPort = 9000

[[ports]]
localPort = 41597
externalPort = 8099

[[ports]]
localPort = 42527
externalPort = 3002

[[ports]]
localPort = 44435
externalPort = 4200

[[ports]]
localPort = 44585
externalPort = 5000

[[ports]]
localPort = 45987
externalPort = 3000
